{% extends "layout.html" %}
{% block title %}Make a bet{% endblock %}
{% block content %}
    <div class="container">
        <h1>Make a bet</h1>
        Maximum bet amount is {{max_bet}} BTC</br>
        <img class="center-block" src="{{data_uri}}"/></br>
        <img class="center-block" src="/static/images/ajax-loader.gif"/></br>
        <p class="text-center">
            <a href="bitcoin:{{address}}">{{address}}</a>
            <div id="bitcoin_events"></div>
        </p>
    </div>
    <script>
        var ws_url = 'ws://'+location.hostname+':8888';
        var sock = new WebSocket(ws_url);
        sock.onopen = function() {
            console.log('open');
            sock.send('addr={{address}}');
        };
        sock.onmessage = function(e) {
            var data = e.data;
            console.log('message', data);
            var obj = JSON.parse(data);
            for (var i = 0; i < obj['details'].length; i++) {
                var details = obj['details'][i];
                if (details['category'] == 'receive' && details['address'] == '{{address}}') {
                    var msg = 'received ' + details['amount'] + ' BTC (' + obj['txid'] + ')';
                    var e = document.getElementById('bitcoin_events');
                    e.innerHTML += msg + '</br>';
                    $.ajax('/bet/check/' + details['address'] + '/' + obj['txid']).done(function(res) {
                        var msg = 'check: ' + res.result + ' ' + res.msg;
                        e.innerHTML += msg + '</br>';
                    });

                }
            }
        };
        sock.onclose = function() {
            console.log('close');
        };
    </script>
{% endblock %}
