{% extends "layout.html" %}
{% block title %}Make a bet{% endblock %}
{% block content %}
    <div class="container">
        <h1>Make a bet</h1>
        Maximum bet amount is {{max_bet}} BTC</br>
        <img class="center-block" src="{{data_uri}}"/></br>
        <img class="center-block" src="/static/images/ajax-loader.gif"/></br>
        <p class="text-center">
            <a href="bitcoin:{{address}}">{{address}}</a>
        </p>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="bet-reveal" tabindex="-1" role="dialog" aria-labelledby="bet-reveal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="bet-reveal-label">Payment received...</h4>
                </div>
                <div class="modal-body">
                    <img class="center-block" width="300px" src="/static/images/loop-roulette.gif" id="bet-reveal-image"/>
                </div>
            </div>
        </div>
    </div>

    <script>
        var ws_url = 'ws://'+location.hostname+':8888';
        var sock = new WebSocket(ws_url);
        var last_txid = '';
        var hide_modal_timeout_id = null;
        sock.onopen = function() {
            console.log('open');
            sock.send('addr={{address}}');
        };
        sock.onmessage = function(e) {
            var data = e.data;
            console.log('message', data);
            var obj = JSON.parse(data);
            // if we send from the same wallet we will get multiple notifcations
            if (last_txid.localeCompare(obj['txid']) == 0) {
                return;
            }
            last_txid = obj['txid'];
            for (var i = 0; i < obj['details'].length; i++) {
                var details = obj['details'][i];
                if (details['category'] == 'receive' && details['address'] == '{{address}}') {
                    var msg = 'received ' + details['amount'] + ' BTC (' + obj['txid'] + ')';
                    $.ajax('/bet/check/' + details['address'] + '/' + obj['txid']).done(function(res) {
                        clearTimeout(hide_modal_timeout_id);
                        $('#bet-reveal-label').text('Payment received...');
                        $('#bet-reveal-image').attr('src', '/static/images/loop-roulette.gif');
                        $('#bet-reveal').modal();
                        setTimeout(function() {
                            if (res.result)
                                $('#bet-reveal-label').text('You win!');
                            else if (res.msg.length > 0)
                                $('#bet-reveal-label').text('Oops (' + res.msg + ')');
                            else
                                $('#bet-reveal-label').text('You lose try again =)');
                            $('#bet-reveal-image').attr('src', res.image);
                            $('#bet-reveal').modal('show');
                            hide_modal_timeout_id = setTimeout(function() {
                                $('#bet-reveal').modal('hide');
                                }, 10000);
                            }, 2000);
                    });

                }
            }
        };
        sock.onclose = function() {
            console.log('close');
        };
    </script>
{% endblock %}
