{% macro flashes(container=True) -%}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% if container %}
    <div class="container">
    {% endif %}
    <div class=flashes>
    {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <b>{{ message }}</b>
        </div>
    {% endfor %}
    </div>
    {% if container %}
    </div>
    {% endif %}
{% endif %}
{% endwith %}

{%- endmacro %}
