<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to BitRisk</title>

    <!-- Bootstrap Core CSS -->
    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="/static/b/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/b/todc-bootstrap/dist/css/todc-bootstrap.min.css">
    <link rel="stylesheet" href="/static/b/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/b/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link href="/static/b/prismjs/prism-okaidia.css" rel="stylesheet" />
    <link href="/static/b/prismjs/plugins/line-numbers/prism-line-numbers.css" rel="stylesheet" />
    
    <!-- Custom CSS -->
    <link href="/static/stylesheets/landing-page.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/stylesheets/style.css">


    <script type="text/javascript" src="/static/b/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/b/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class="opacity-img glow img-responsive" src="/static/images/bitrisk-logo-grey.png" width="110"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <a id="intro"></a>
    <!-- Header -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div id="error-container">
                        {% from 'flashes.html' import flashes %}
                        {{ flashes(False) }}
                    </div>
                    <div class="intro-message">
                        <h1><span class="logo">BitRisk</span></h1>
                        <h2>Probably unfair bitcoin betting</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->
    <a id="about"></a>
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Lets roll the dice:<br><i class="fa fa-quote-left"></i> <span class="logo">BitRisk</span> wants to bet with you</h2>
                    <p class="lead">Blah blah blah, we will eat your coins</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="static/images/dices.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <!--li>
                            <a href="#home">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li-->
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; BitRisk 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>


<script type="text/javascript" src="/static/b/prismjs/prism.js"></script>
<script type="text/javascript" src="/static/b/prismjs/plugins/line-numbers/prism-line-numbers.js"></script>

</body>

</html>
