{% extends "layout.html" %}
{% block title %}Welcome to BitRisk{% endblock %}
{% block content %}
    <a id="intro"></a>
    <!-- Header -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div id="error-container">
                        {% from 'flashes.html' import flashes %}
                        {{ flashes(False) }}
                    </div>
                    <div class="intro-message">
                        <h1><span class="logo">BitRisk</span></h1>
                        <h2>Probably unfair bitcoin betting</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->
    <a id="about"></a>
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Lets roll the dice:<br><i class="fa fa-quote-left"></i> <span class="logo">BitRisk</span> wants to bet with you</h2>
                    <p class="lead">Blah blah blah, we will eat your coins</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="static/images/dices.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

{% endblock %}
