<!doctype html>
<html>
    <head>
    {% block head %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap Core CSS -->
        <!-- CSS
      ================================================== -->
        <link rel="stylesheet" href="/static/b/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/b/todc-bootstrap/dist/css/todc-bootstrap.min.css">
        <link rel="stylesheet" href="/static/b/fontawesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/b/bootstrap-select/dist/css/bootstrap-select.min.css">
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/static/stylesheets/style.css">
        <link rel="stylesheet" href="/static/stylesheets/landing-page.css">


        <script type="text/javascript" src="/static/b/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/static/b/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    {% endblock %}
    </head>
    <body>
    {% block navigation %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#"><img class="opacity-img glow img-responsive" src="/static/images/bitrisk-logo-grey.png" width="110"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/transactions">Tx's</a>
                    </li>
                    <li>
                        <a href="/bet">Bet</a>
                    </li>
                    <li>
                        <a href="/bets">Bets</a>
                    </li>
                    <li>
                        <a href="/payouts">Payouts</a>
                    </li>
                    <li>
                        <a href="/refunds">Refunds</a>
                    </li>
                    <li>
                        <a href="/#about">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {% endblock %}
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <!--li>
                            <a href="#home">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li-->
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; BitRisk 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
