{% extends "layout.html" %}
{% block title %}Transactions{% endblock %}
{% block content %}
    <div id="bitcoin_events"></div>
    <script>
        var ws_url = 'ws://'+location.hostname+':8888';
        var sock = new WebSocket(ws_url);
        sock.onopen = function() {
            console.log('open');
        };
        sock.onmessage = function(e) {
            var data = e.data;
            console.log('message', data);
            var e = document.getElementById('bitcoin_events');
            e.innerHTML += data + '</br>';
        };
        sock.onclose = function() {
            console.log('close');
        };
    </script>
{% endblock %}
